/* Index CSS v0.2 */

/* Imports */
@import url(https://ghostmander.github.io/discordfont/DiscordFont.css);
@import url(https://nyri4.github.io/Discolored/main.css);

/* SourceCode */

.theme-dark {
    --header-primary: #eb1873;
    --header-secondary: #d1d6dd;
    --text-normal: #dcddde;
    --text-muted: #72767d;
    --text-link: #eb1873;
    --channels-default: #a0a8b1;
    --interactive-normal: #b9bbbe;
    --interactive-hover: #dcddde;
    --interactive-active: #fff;
    --interactive-muted: #444950;
    --background-primary: #273043;
    --background-secondary: #252c3b;
    --background-secondary-alt: #252c3b;
    --background-tertiary: #273043;
    --background-accent: #b92b69;
    --background-floating: #18191c;
    --background-chatbox: #49334ecc;
    --background-mentioned: #a838691e;;
    --background-mentioned-hover: #a838692d;;
    --background-modifier-hover: rgba(79,84,92,0.16);
    --background-modifier-active: rgba(79,84,92,0.24);
    --background-modifier-selected: rgba(79,84,92,0.32);
    --background-modifier-accent: hsla(0,0%,100%,0.06);
    --background-message-hover: rgba(4,4,5,0.07);
    --background-help-warning: rgba(250,166,26,0.1);
    --background-help-info: rgba(0,176,244,0.1);
    --scrollbar-thin-thumb: #6b3659b7;
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-thumb: #6b3659b7;
    --scrollbar-auto-track: #64234ead;
    --scrollbar-auto-scrollbar-color-thumb: #202225;
    --scrollbar-auto-scrollbar-color-track: #2f3136;
    --elevation-stroke: 0 0 0 1px rgba(4,4,5,0.15);
    --elevation-low: 0 1px 0 rgba(4,4,5,0.2),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05);
    --elevation-medium: 0 4px 4px rgba(0,0,0,0.16);
    --elevation-high: 0 8px 16px rgba(0,0,0,0.24);
    --logo-primary: #fff;
    --focus-primary: #b92b69;
    --radio-group-dot-foreground: #b92b6846;
    --guild-header-text-shadow: 0 1px 1px rgba(0,0,0,0.4);
    --channeltextarea-background: #b92b683b;
    --activity-card-background: #202225;
    --textbox-markdown-syntax: #8e9297;
    --deprecated-card-bg: rgba(32,34,37,0.6);
    --deprecated-card-editable-bg: rgba(32,34,37,0.3);
    --deprecated-store-bg: #36393f;
    --deprecated-quickswitcher-input-background: #72767d;
    --deprecated-quickswitcher-input-placeholder: hsla(0,0%,100%,0.3);
    --deprecated-text-input-bg: rgba(0,0,0,0.1);
    --deprecated-text-input-border: rgba(0,0,0,0.3);
    --deprecated-text-input-border-hover: #040405;
    --deprecated-text-input-border-disabled: #202225;
    --deprecated-text-input-prefix: #dcddde;
}

/* UpdateIcon */
.updateIconForeground-3tnNZn {
    fill: var(--background-accent)
}

/* MentionedColour */
.mentioned-xhSam7:before {
    background-color: var(--background-accent);
}
.mentioned-xhSam7 {
    background-color: var(--background-mentioned);
}

/* PeopleArea */
.peopleColumn-29fq28 {
    background-color: var(--background-primary);
}
  .nowPlayingColumn-2sl4cE {
   background-color: var(--background-primary);
}
/* ServerList */
.platform-win .scroller-1Bvpku {
    background-color: var(--background-secondary);
}
/* --- */

/* WindowsInTopBar */
.typeWindows-1za-n7{
    width:calc(100% - calc(72px + 240px));
    position: fixed;
    right: 0px;
    height:46px;
    z-index: 2;
    background:var(--secondary-background-alt)!important;margin:0px;
  }
  .platform-win .children-19S4PO,.platform-win .toolbar-1t6TWx{
    z-index:1000000;
  }
  .winButton-iRh8-Z{top:12px;left:-4px;z-index:67438274832798;}
  .wordmarkWindows-1v0lYD{display: none;}
  .platform-win .sidebar-2K8pFh {border-radius: 0px!important;}
  .platform-win .title-3qD0b-{
    width:calc(100% - 80px);
  }
  .typeWindows-1za-n7 {!important;margin:1px;}

.titleBar-AC4pGV > *:nth-child(2):hover {background-color: #f771715e;}
.titleBar-AC4pGV > *:nth-child(3):hover {background-color: #f0ca574f;}
.titleBar-AC4pGV > *:nth-child(4):hover {background-color: #48c04879;}

/* --- */

/* Variables Ended */
.scrollableContainer-2NUZem {
    background-color: var(--background-chatbox);
}

/*Minifiedmemberlist*/
:root {
    --hover-animation-speed: 0.35s;
    --seperator-color: var(--background-accent);
 }
 
 .membersWrap-2h-GB4 {
    min-width: unset;
    width: 50px;
    justify-content: right;
 }
 
 .members-1998pB {
    transition: transform var(--hover-animation-speed);
 }
 
 .membersWrap-2h-GB4:hover .members-1998pB {
    transform: translateX(-190px);
 }
 
 .membersWrap-2h-GB4 .membersGroup-v9BXpm::after {
    content: '';
    width: 30px;
    height: 2px;
    border-radius: 50px;
    background: unset;
    background-color: var(--seperator-color);
    position: absolute;
    left: -36px;
    top: 29px;
    margin-left: 0px;
 }
 
 .membersWrap-2h-GB4 .members-1998pB .member-3-YXUe {
    background-color: unset;
    margin-left: 0px;
    transition: margin-left var(--hover-animation-speed);
 }
 
 .membersWrap-2h-GB4:hover .members-1998pB .member-3-YXUe {
    margin-left: 8px;
 }
 
 .membersWrap-2h-GB4:hover .membersGroup-v9BXpm {
    transform: translateX(-6px);
 }
 
 .membersWrap-2h-GB4 .membersGroup-v9BXpm {
    cursor: default;
    transform: translateX(45px);
    transition: transform var(--hover-animation-speed);
    overflow: visible;
 }

 /* Separate the channels list from the chat box. - 755166410824482937 */
.sidebar-2K8pFh, .chat-3bRxxu, .container-3Mxszk, .container-1D34oG, .applicationStore-1pNvnv {
    border-radius: 18px 18px 0 0 !important
  }
  
  .chat-3bRxxu, .container-1D34oG, .container-3Mxszk, .applicationStore-1pNvnv {
    position: relative;
    left: 10px;
    padding-right: 5px
  }
