/**
 * @name Naive
 * @author Leeprky#2063
 * @version 0.3.2
 * @description Naive Theme By Leeprky#2063
 * @source https://github.com/leeprky/tobenamedtheme
*/
/* ^ betterdiscord ^ */


/* NaiveSource */
@import url(https://raw.githack.com/leeprky/Naive/main/naivesource.css);
@import url(https://discord-custom-covers.github.io/usrbg/dist/usrbg.css);

/* --- */


/* Colors */

/* Cherry - Magenta */  


@import url(https://raw.githack.com/leeprky/Naive/main/styles/naive-cherry.css); 
/* */
/* - REMOVE
@import url(https://raw.githack.com/leeprky/Naive/main/styles/naive-cherry-light.css); 
/* */
/*
@import url(https://raw.githack.com/leeprky/Naive/main/styles/naive-cherry-glasscord.css);
/* */

/* Buzzy - Yellow */ 
/* - REMOVE
@import url(https://raw.githack.com/leeprky/Naive/main/styles/naive-buzzy.css); 
/* */
/* - REMOVE
@import url(https://raw.githack.com/leeprky/Naive/main/styles/naive-buzzy-glasscord.css); 
/*

/* Sky - Cyan */ 
/* - REMOVE
@import url(https://raw.githack.com/leeprky/Naive/main/styles/naive-sky.css);  
/* */
/* - REMOVE
@import url(https://raw.githack.com/leeprky/Naive/main/styles/naive-sky-glasscord.css); 
/*

/* Apple - Green */ 

/* - REMOVE
@import url(https://raw.githack.com/leeprky/Naive/main/styles/naive-apple.css);
/* */
/* - REMOVE
@import url(https://raw.githack.com/leeprky/Naive/main/styles/naive-apple-glasscord.css);
/*

/* Hell - Red */ 

/* - REMOVE
@import url(https://raw.githack.com/leeprky/Naive/main/styles/naive-hell.css);
/* */
/* - REMOVE
@import url(https://raw.githack.com/leeprky/Naive/main/styles/naive-hell-glasscord.css);
/*

/* */ 

/* --- */
/* Glasscord If Enabled In Colors Section */
:root{
	--glasscord-win-blur: blurbehind;
	--glasscord-macos-vibrancy: fullscreen-ui;
	--glasscord-linux-blur: true;
	--glasscord-blur-corner-radius: 20px;
	--glasscord-titlebar: windows;
}
/* --- */

/* Optionals */
/* Separate the channels list from the chat box. Option*/
/* REMOVE >>>> */
.sidebar-2K8pFh, .chat-3bRxxu, .container-3Mxszk, .container-1D34oG, .applicationStore-1pNvnv, .clickable-25tGDB {
    border-radius: 15px 15px 15px 15px !important;
    border-color: transparent;
    left: 5px
  }
.platform-win .sidebar-2K8pFh {
    border-radius: 0px 12px 12px 0px!important;
}
.content-98HsJk {
    background-color: rgba(17, 16, 16, 0);
    box-shadow: none;
}
/* */
/* ----- */



/* Color Addons - Dont change */
/* memberlist */
.members-1998pB, .members-1998pB>div {
    background-color: transparent;
}
/* chatbox text here color */
.placeholder-37qJjk, .slateTextArea-1Mkdgw {
    color: var(--text-normal)
}
/* friends area */
.peopleList-3c4jOR {
    background-color: var(--background-primary);
}
.nowPlayingColumn-2sl4cE {
    background-color: var(--background-primary);
}
.section-2gLsgF {
    background-color: var(--background-primary);
}
.scroller-1JbKMe {
    background-color: transparent;
}
.peopleColumn-29fq28 {
    background-color: var(--background-primary);
}
/* Embed Wrapper */
.embedWrapper-lXpS3L, .embedFull-2tM8--, .embed-IeVjo6, .markup-2BOw-j {
    border-color: var(--background-accent)
}


/* Voicecall */
.wrapper-2qzCYF.minimum-28Z35l {
    height: 250px;
    background-color: var(--background-primary);
    opacity: 0.8;
}
/* call dock/call mute*/
.wrapper-3EGhDO {
    background-color: var(--background-secondary);
    border-radius: 25px;
    padding: 0px;
}
.colorable-1bkp8v.white-3GPOIp, .colorable-1bkp8v.white-3GPOIp .centerIcon-2G6o-T { color: currentColor; } .colorable-1bkp8v.primary-3NQg8g, .colorable-1bkp8v.primary-3NQg8g.active-1QRrIS, .colorable-1bkp8v.primary-3NQg8g:hover,  .colorable-1bkp8v.white-3GPOIp, .centerButton-3CaNcJ, .colorable-1bkp8v.white-3GPOIp.active-1QRrIS, .colorable-1bkp8v.white-3GPOIp:hover, .colorable-1bkp8v.red-33-Lnk {
    background: none !important;
}
.status-1WEaea {
    width: 40px;
    height: 40px;
    background-color: var(--background-accent);
    left: 17px;
    top: 18px
}

.border-Jn5IOt.speaking-B2MXPi {
    -webkit-box-shadow: inset 0 0 0 2px var(--background-accent),inset 0 0 0 3px var(--background-floating);
    box-shadow: inset 0 0 0 2px var(--background-accent),inset 0 0 0 3px var(--background-floating);
}
/* TopBar */
.container-1r6BKw.themed-ANHk51 {
    background: var(--background-primary)
}

::-webkit-scrollbar {
    display: none;
}



/* CSS Snippits */

/* Bigger avatar modal */
.headerTop-3C2Zn0 {
    min-height: 250px;
    padding: 0;
}
.headerTop-3C2Zn0 .avatarWrapper-3H_478 {
    left: 0;
    bottom: 0;
    width: 250px;
}
.headerTop-3C2Zn0 .avatarWrapper-3H_478 .wrapper-3t9DeA {
    height: 260px !important;
    width: 250px !important;
    left: -4px;
}
.avatarHint-1qgaV3 {width: 100%;height: 100%;border-radius: 0;}
.avatarHintInner-Dco91E {
    font-size: 0.4em;
    text-shadow: 1px 1px 3px rgb(221, 221, 221);
}
.headerTop-3C2Zn0 foreignObject {mask: none !important;}
.headerTop-3C2Zn0 rect {
    border-radius: 0;
    x: 0; y: 79;
    width: 80px;
    height: 3px;
    mask: none;
}
.headerText-2sdzFM {padding-bottom: 5px;}

/* Show Discord, even when you're offline */
.container-16j22k {
    background: transparent;
    pointer-events: none;
  }
  .container-16j22k * {
    display: none;
  }
  .container-16j22k::before {
    content: 'You\'ve gone offline';
    display: block;
    bottom: 24px;
    right: 24px;
    position: absolute;
    padding: 8px 16px;
    background-color: #f04747;
    border-radius: 4px;
    color: #fff;
  }
