/**
 * @name Naive
 * @author Leeprky#2063
 * @version 0.1
 * @description Naive Theme By Leeprky#2063
 * @source https://github.com/leeprky/tobenamedtheme
*/
/* ^ betterdiscord ^ */

/* THEME IMPORTS */
/* source code */
@import url('https://raw.githack.com/leeprky/NaiveTheme/main/naivesource.css');

/* Naive */

body{
    background-color: transparent;
}
#app-mount{
	background-color: rgba(235, 28, 28, 0);
	border-radius: 12px 12px 12px 12px; 
	border-color: transparent;
}

/* colour variables */

