/**
 * @name Naive
 * @author Leeprky#2063
 * @version 0.2
 * @description Naive Theme By Leeprky#2063
 * @source https://github.com/leeprky/tobenamedtheme
*/
/* ^ betterdiscord ^ */

/* NaiveSource */
@import url(https://raw.githack.com/leeprky/NaiveTheme/main/naivesource.css);

/* --- */

/* Colors */
/* Cherry - Magenta */ 
@import url(https://raw.githack.com/leeprky/NaiveTheme/main/styles/naive-cherry.css); 

/* Buzzy - Yellow */ /*
@import url(https://raw.githack.com/leeprky/NaiveTheme/main/styles/naive-buzzy.css); 


/* Sky - Cyan */ /*
@import url(https://raw.githack.com/leeprky/NaiveTheme/main/styles/naive-sky.css); 

/* Apple - Green */ /*
@import url(https://raw.githack.com/leeprky/NaiveTheme/main/styles/naive-apple.css);

/* --- */

/* Color Addons - Dont change */
/* memberlist */
.members-1998pB, .members-1998pB>div {
    background-color: var(--background-primary);
}
/* Serverlist */
.scroller-1Bvpku {
    background-color: var(--background-secondary);
}
.scroller-1d5FgU {
    background-color: var(--background-primary);
}
/* spotify color */
.powercord-spotify .spotify-buttons button {
    color: var(--spotify-color) !important;
}
/* chatbox text here color */
.placeholder-37qJjk, .slateTextArea-1Mkdgw {
    color: var(--text-normal)
}
/* friends area */
.peopleList-3c4jOR {
    background-color: var(--background-primary);
}
.nowPlayingColumn-2sl4cE {
    background-color: var(--background-primary);
}
.section-2gLsgF {
    background-color: var(--background-secondary);
}
