/**
 * @name Naive
 * @author Leeprky#2063
 * @version 0.3
 * @description Naive Theme By Leeprky#2063
 * @source https://github.com/leeprky/tobenamedtheme
*/
/* ^ betterdiscord ^ */


/* NaiveSource */
@import url(https://raw.githack.com/leeprky/NaiveTheme/main/naivesource.css);
@import url(https://discord-custom-covers.github.io/usrbg/dist/usrbg.css);

/* --- */


/* Colors */
/* Cherry - Magenta */  
@import url(https://raw.githack.com/leeprky/NaiveTheme/main/styles/naive-cherry.css); */ /*
@import url(https://raw.githack.com/leeprky/NaiveTheme/main/styles/naive-cherry-glasscord.css);
/*

/* Buzzy - Yellow */ /*
@import url(https://raw.githack.com/leeprky/NaiveTheme/main/styles/naive-buzzy.css); 


/* Sky - Cyan */ /*
@import url(https://raw.githack.com/leeprky/NaiveTheme/main/styles/naive-sky.css); 

/* Apple - Green */ /*
@import url(https://raw.githack.com/leeprky/NaiveTheme/main/styles/naive-apple.css);

/* */ 

/* --- */
/* Glasscord If Enabled In Colors Section */
:root{
	--glasscord-win-blur: blurbehind;
	--glasscord-macos-vibrancy: fullscreen-ui;
	--glasscord-linux-blur: true;
	--glasscord-blur-corner-radius: 20px;
	--glasscord-titlebar: windows;
}
/* --- */

/* Color Addons - Dont change */
/* memberlist */
.members-1998pB, .members-1998pB>div {
    background-color: transparent;
}
/* Serverlist */
.scroller-1Bvpku {
    background-color: var(--background-secondary); /* Add two on the end for glasscord - var(--background--alt2); */
}
.scroller-1d5FgU {
    background-color: var(--background-primary);
}
::-webkit-scrollbar {
    display: none;
}
/* spotify color */
.powercord-spotify .spotify-buttons button {
    color: var(--spotify-color) !important;
}
.container-3baos1, .container-3baos1 .avatar-SmRMf2 {
    background-color: var(--background-secondary-alt); /* Add two on the end for glasscord - var(--background-secondary-alt2); */
}
/* chatbox text here color */
.placeholder-37qJjk, .slateTextArea-1Mkdgw {
    color: var(--text-normal)
}
/* friends area */
.peopleList-3c4jOR {
    background-color: var(--background-primary);
}
.nowPlayingColumn-2sl4cE {
    background-color: var(--background-primary);
}
.section-2gLsgF {
    background-color: var(--background-secondary);
}
.scroller-1JbKMe {
    background-color: transparent;
}

/* Voicecall */
.wrapper-2qzCYF.minimum-28Z35l {
    height: 250px;
    background-color: var(--background-primary);
    opacity: 0.8;
}
/* call dock/call mute*/
.wrapper-3EGhDO {
    background-color: var(--background-secondary);
    border-radius: 25px;
    padding: 0px;
}
.colorable-1bkp8v.white-3GPOIp, .colorable-1bkp8v.white-3GPOIp .centerIcon-2G6o-T { color: currentColor; } .colorable-1bkp8v.primary-3NQg8g, .colorable-1bkp8v.primary-3NQg8g.active-1QRrIS, .colorable-1bkp8v.primary-3NQg8g:hover,  .colorable-1bkp8v.white-3GPOIp, .centerButton-3CaNcJ, .colorable-1bkp8v.white-3GPOIp.active-1QRrIS, .colorable-1bkp8v.white-3GPOIp:hover, .colorable-1bkp8v.red-33-Lnk {
    background: none !important;
}
.status-1WEaea {
    width: 40px;
    height: 40px;
    background-color: var(--background-accent);
    left: 17px;
    top: 18px
}

.border-Jn5IOt.speaking-B2MXPi {
    -webkit-box-shadow: inset 0 0 0 2px var(--background-accent),inset 0 0 0 3px var(--background-floating);
    box-shadow: inset 0 0 0 2px var(--background-accent),inset 0 0 0 3px var(--background-floating);
}
