/**
 * @name Naive
 * @author Leeprky#2063
 * @version 1.1
 * @description Naive Theme By Leeprky#2063
 * @source https://github.com/leeprky/tobenamedtheme
*/
/* ^ betterdiscord ^ */


/* NaiveSource */
@import url(https://raw.githack.com/leeprky/Naive/main/source/naivesource.css);
@import url(https://discord-custom-covers.github.io/usrbg/dist/usrbg.css);

/* --- */

/* Colors CONFIG */

/* Cherry - Magenta */  

/*
@import url(https://raw.githack.com/leeprky/Naive/main/styles/naive-cherry.css); 
/* */
/* - REMOVE (LIGHTMODE)
@import url(https://raw.githack.com/leeprky/Naive/main/styles/naive-cherry-light.css); 
/* */

@import url(https://raw.githack.com/leeprky/Naive/main/styles/naive-cherry-glasscord.css);
/* */

/* Space - Black */
/*
@import url(https://raw.githack.com/leeprky/Naive/main/styles/naive-space.css); 
/* */
/* - REMOVE (GLASSCORD)
@import url(https://raw.githack.com/leeprky/Naive/main/styles/naive-space-glasscord.css);
/* */

/* Buzzy - Yellow */ 
/* - REMOVE
@import url(https://raw.githack.com/leeprky/Naive/main/styles/naive-buzzy.css); 
/* */
/* - REMOVE (GLASSCORD)
@import url(https://raw.githack.com/leeprky/Naive/main/styles/naive-buzzy-glasscord.css); 
/*

/* Sky - Cyan */ 
/* - REMOVE
@import url(https://raw.githack.com/leeprky/Naive/main/styles/naive-sky.css);  
/* */
/* - REMOVE (GLASSCORD)
@import url(https://raw.githack.com/leeprky/Naive/main/styles/naive-sky-glasscord.css); 
/*

/* Apple - Green */ 

/* - REMOVE
@import url(https://raw.githack.com/leeprky/Naive/main/styles/naive-apple.css);
/* */
/* - REMOVE (GLASSCORD)
@import url(https://raw.githack.com/leeprky/Naive/main/styles/naive-apple-glasscord.css);
/*

/* Hell - Red */ 
/* - REMOVE
@import url(https://raw.githack.com/leeprky/Naive/main/styles/naive-hell.css);
/* */
/* - REMOVE (GLASSCORD)
@import url(https://raw.githack.com/leeprky/Naive/main/styles/naive-hell-glasscord.css);
/*

/* COLORS PERSONAL - not recommended unless you know what ur doing*/
/* @import url('CUSTOM GITHACK COLOR SCHEME LINK HERE') */
/* DELETE FOR MANUAL COLORS (GLASSCORD) 
body{
  background-color: transparent;
}

#app-mount{
background-color: transparent;
border-radius: var(--glasscord-blur-corner-radius);
}

.theme-dark { 
  --alt-color: 114, 137, 218;
  --spotify-color: #27cc11;
  --toast-header: #202225de;
    --background-primary: #23232857;
    --background-primary-alt: #36393ff0;
    --background-secondary: #2f313650;
    --background-secondary2:#18181a25;
    --background-secondary-chat: #2f3136a0;
    --background-secondary-alt: #2f313650;
    --background-secondary-alt2: #2f313600;
    --background-tertiary: #20222546;
    --background-logo: #36393fa0;
    --deprecated-card-bg: #36393f4c;
    --deprecated-store-bg: #36393f00;
    --background-attachments: #2f313640;
    --background-search-bar: #202225a0;
    --background-switcher: #2f3136ff;
    --background-chatbox: #20222550;
    --background-lights-out: #000;
    --background-pinned: #2f3136ff;
    --background-profile-expand: #2f3136ff;
    --background-emoji: #2f3136ff;
    --text-lights-out: #f0f0f0;
    --background-titlebar: #2f313650;
    --scrollbar-auto-thumb: #20222550;
  };
.scroller-1Bvpku {
  background-color: var(--background-secondary2); 
}
.scroller-1d5FgU {
  background-color: var(--background-primary);
}
::-webkit-scrollbar {
  display: none;
}
.powercord-spotify .spotify-buttons button {
  color: var(--spotify-color) !important;
}
.container-3baos1, .container-3baos1 .avatar-SmRMf2 {
  background-color: var(--background-secondary-alt2); 
}

/* */
/* Remove the orange thing when selecting server list etc */   
ul.tree-2wKJdG:focus {
  outline-color: transparent;
}
/* --- */
/* Glasscord If Enabled In Colors Section */
:root{
	--glasscord-win-blur: blurbehind;
	--glasscord-macos-vibrancy: fullscreen-ui;
	--glasscord-linux-blur: true;
	--glasscord-blur-corner-radius: 20px;
	--glasscord-titlebar: windows;
}
/* --- */

/* Optionals */
/* Separate the channels list from the chat box. Option*/
/* REMOVE LINE */
.sidebar-2K8pFh, .chat-3bRxxu, .container-3Mxszk, .container-1D34oG, .applicationStore-1pNvnv, .clickable-25tGDB {
    border-radius: 15px 15px 15px 15px !important;
    border-color: transparent;
    left: 5px
  }
.platform-win .sidebar-2K8pFh {
    border-radius: 0px 12px 12px 0px!important;
}
.content-98HsJk {
    background-color: rgba(17, 16, 16, 0);
    box-shadow: none;
}
/* */

/* Modal Popout - Add /* BELOW FOR NONE BIG MODALS */
:root {
  --background-secondary3: #262C37;
}
.activity-11LB_k, .headerTop-3C2Zn0 {
  background-color: var(--background-secondary3);
}
.theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6 {
  background-color: var(--background-secondary3)
}
.userPopout-3XzG_A {
  box-shadow: none;
}
div[class*="headerPlaying"], div[class*="headerStreaming"] {
  background-color: var(--alt-color) !important;
}
.popout_1188 {
  border-radius: 12px;
}
.rolesList-22qj2L {
  margin-top: 2px;
  margin-bottom: 1px;
}

.note-QfFU8y textarea { display: none; }
.userInfoSectionHeader-CBvMDh { display: none; }
.userInfoSection-2acyCx { margin-top: -21px; }
.body-3ND3kc { height: calc(100% - 167px); }

.bodyTitle-Y0qMQz, .size12-3R0845, .note-3HfJZ5, .protip-YaFfgO {
  display: none;
}
.headerTop-3C2Zn0 {
  min-height: 250px;
  padding: 0;
}
.headerTop-3C2Zn0 .avatarWrapper-3H_478 {
  left: 0;
  bottom: 9px;
  top: -15px;
  width: 255px;
}
.headerText-2sdzFM {
  margin-bottom: 5px;
}
.customStatus-1bh2V9 {
  margin-top: 10px;
}
.customStatus-1bh2V9 .customStatusEmoji-7MXCgv.customStatusSoloEmoji-XOvnMc {
  margin-bottom: 15px;
}
.customStatusText-3YJeRZ {
  margin-bottom: 15px;
}
.headerTop-3C2Zn0 .avatarWrapper-3H_478 .wrapper-3t9DeA {
  height: 260px !important;
  width: 250px !important;
  left: -4px;
}
.avatarHint-1qgaV3 {width: 100%;height: 100%;border-radius: 0;}
.avatarHintInner-Dco91E {
  font-size: 0.4em;
  text-shadow: 1px 1px 3px rgb(221, 221, 221);
}
.headerTop-3C2Zn0 foreignObject {mask: none !important;}
.headerTop-3C2Zn0 rect {
  border-radius: 0;
  x: 0; y: 79.25;
  width: 80px;
  height: 3px;
  mask: none;
}
.headerText-2sdzFM {padding-bottom: 5px;}
/* --- */

/* Naive Extras */
/* memberlist */

/* My Account */
.background-1QDuV2 {
  background-color: var(--background-primary);
}
/* --- */

}
.membersWrap-2h-GB4, .members-1998pB {
left: 20px;
margin-right: 20px;
}
.members-1998pB, .members-1998pB>div {
  background-color: var(--background-secondary3);
  border-radius: 15px 0px 0px 15px !important;
}
/* --- */

/* Naive Extras */
/* memberlist */

/* My Account */
.background-1QDuV2 {
  background-color: var(--background-primary);
}
/* --- */


/* WindowsInTopBar */

.typeWindows-1za-n7{
  width:calc(100% - calc(72px + 240px));
  position: fixed;
  right: 0px;
  height:46px;
  z-index: 2;
  background: transparent!important;margin:0px;
}
.platform-win .children-19S4PO,.platform-win .toolbar-1t6TWx{
  z-index:1;
}
.winButton-iRh8-Z{top:12px;left:-4px;z-index:67438274832798;}
.wordmarkWindows-1v0lYD{display: none;}
.platform-win .sidebar-2K8pFh {border-radius: 0px!important;}
.platform-win .title-3qD0b-{
  width:calc(100% - 80px);
}

.titleBar-AC4pGV > *:nth-child(2):hover {background-color: #f771715e;}
.titleBar-AC4pGV > *:nth-child(3):hover {background-color: #f0ca574f;}
.titleBar-AC4pGV > *:nth-child(4):hover {background-color: #48c04879;}
.container-1r6BKw.themed-ANHk51 {
  background: transparent;
}
.notice-3uyY6c, .notice-3bPHh- {
background-color: var(--background-accent);
top: 80px;
opacity: 0.9;
border-radius: 0px 0px 12px 12px;
left: 240px;
margin-right: 494px;
margin-top: -35px;
}
/* --- */

/* Settings Modal Under Channels Into Server List */

.spotify-buttons {
width: 6em;
margin-bottom: -4px;
}
.spotify-extra-controls, .spotify-seek-elements {
  display: none !important;
}
.powercord-spotify, .powercord-spotify.hover {
  height: 57px;
}
.powercord-spotify.hover .spotify-extra-controls + .spotify-seek {
  margin-top:3px !important;
}
.powercord-spotify.hover .spotify-seek:not(.no-premium) .spotify-seek-bar {
  height:2px;
}
.spotify-seek-bar-cursor {
  border:none !important;
  width:15px;
  height:15px;
}
.spotify-title div:first-child {
  margin-top:-1px !important;
  margin-bottom:3px;
}
.powercord-spotify {
background-position-x: center;
background-position-y: center;
border-radius: 12px 12px 0px 0px; 
background-image: var(--spotify-background-image); 
background-position: center;
z-index: 1;
background-size: cover;
}
.avatar-SmRMf2 .spotify-cover {
display: none;
}

.panels-j1Uci_ {
transition: height 0.5s;
z-index: 902;
position: absolute;
right: 1em;
bottom: 5em;
border-radius: 1em !important;
width: 240px;
}
.unreadBar-3t3sYc,
.animatedContainer-1NSq4T {
visibility: hidden;
}
.bannerImage-3KhIJ6 {
opacity: 0;
transition: opacity 0.5s;
}
.membersWrap-2h-GB4 {
background-color: var(--background-secondary);
height: calc(100% - 160px);
transition: height 0.5s;
border-radius: 1em;
position: absolute;
right: 1em;
top: 0.5em;
overflow: hidden;
}
.chatContent-a9vAAp {
position: absolute;
width: 100%;
height: 100%;
}
.newMessagesBar-265mhP,
.jumpToPresentBar-G1R9s6,
.divider-3_HH5L {
width: calc(100% - 290px);
}
.container-2fRDfG {
width: calc(100% - 260px);
}
.message-2qnXI6[role="listitem"] {
width: calc(100% - 365px);
border-radius: 1em;
}
.searchResultsWrap-3-pOjs {
z-index: 903;
height: calc(100% - 100px);
position: absolute;
right: 1em;
border-radius: 1em;
}

.container-3baos1 .noWrap-3jynv6 {
width: 100px;
opacity: 1;
}
.button-14-BFJ{
transition: 0.2s;
}
.button-14-BFJ:hover{
padding-bottom: 0px;
transition: 0.2;
}
