/* NAIVE - BUZZY / YELLOW (GLASSCORD)*/
.theme-dark { 
	--alt-color: 255, 177, 15;
    --header-primary: #FFB30F;
    --header-secondary: #8E949C;
    --text-normal: #F4F7F5;
    --text-muted: rgb(73, 78, 87);
    --text-link: #FFB30F;
    --channels-default: #8e9297;
    --interactive-normal: #b9bbbe;
    --interactive-hover: #dcddde;
    --interactive-active: #ebe9ea;
    --interactive-muted: rgb(73, 78, 87);
    --background-primary: #232935e1;
    --background-secondary: rgba(42, 48, 60, 0.521);
    --background-secondary2:rgba(42, 48, 60, 0.74);
    --background-secondary-alt: rgba(42, 48, 60, 0.521);
    --background-tertiary: #1a1f272c;
    --background-accent: #FFB30F;
    --background-floating: #232934;
    --background-modifier-hover: #ffb30f31;
    --background-modifier-active: #ffb30f52;
    --background-modifier-selected: #ffb30f3b;
    --background-modifier-accent: hsla(0,0%,100%,0.06);
    --background-mentioned: #ffb30f18;
    --background-mentioned-hover: #ffb30f0c;
    --background-message-hover: #ffb30f10;
    --background-help-warning: #ffcb5c28;
    --background-help-info: #ffcb5c28;
    --scrollbar-thin-thumb: #ffcb5c28;
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-thumb: #ffcb5c28;
    --scrollbar-auto-track: #ffcb5c15;
    --scrollbar-auto-scrollbar-color-thumb: #9c203f9a;
    --scrollbar-auto-scrollbar-color-track: #94143477;
    --elevation-stroke: 0 0 0 1px rgba(26, 22, 22, 0.329);
    --elevation-low: 0 1px 0 rgba(26, 22, 22, 0.329);
    --elevation-medium: 0 4px 4px rgba(26, 22, 22, 0.329);
    --elevation-high: 0 8px 16px rgba(26, 22, 22, 0.329);
    --logo-primary: #fff;
    --focus-primary: #ffb30faf;
    --radio-group-dot-foreground: #ffb30fbb;
    --guild-header-text-shadow: 0 1px 1px rgba(0,0,0,0.4);
    --channeltextarea-background: #e09b1c27;
	--toast-header: #20242b;
    --spotify-color: #FFB30F;
}

/* Light theme away */
html.theme-dark .theme-light {
    --header-primary: #FFB30F;
    --header-secondary: #8E949C;
    --text-normal: #F4F7F5;
    --text-muted: rgb(73, 78, 87);
    --text-link: #FFB30F;
    --channels-default: #8e9297;
    --interactive-normal: #b9bbbe;
    --interactive-hover: #dcddde;
    --interactive-active: #ebe9ea;
    --interactive-muted: rgb(73, 78, 87);
    --background-primary: #232935e1;
    --background-secondary: rgba(42, 48, 60, 0.521);
    --background-secondary2:rgba(42, 48, 60, 0.74);
    --background-secondary-alt: rgba(42, 48, 60, 0.521);
    --background-tertiary: #1a1f272c;
    --background-accent: #FFB30F;
    --background-floating: #232934f6;
    --background-modifier-hover: #e2277815;
    --background-modifier-active: #e227783d;
    --background-modifier-selected: #e2277815;
    --background-modifier-accent: hsla(0,0%,100%,0.06);
    --scrollbar-thin-thumb: #ffcb5c28;
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-thumb: #ffcb5c28;
    --scrollbar-auto-track: #ffcb5c15;
    --scrollbar-auto-scrollbar-color-thumb: #9c85209a;
    --scrollbar-auto-scrollbar-color-track: #946b1477;
    --focus-primary: #FFB30F;
  }
  html.theme-dark .theme-light .root-1gCeng {
    background-color: #2329359c;
    -webkit-box-shadow: 0 0 0 1px rgba(32,34,37,.6), 0 2px 10px 0 rgba(0,0,0,.2);
    box-shadow: 0 0 0 1px rgba(32,34,37,.6), 0 2px 10px 0 rgba(0,0,0,.2);
  }
  html.theme-dark .theme-light .footer-2gL1pp {
    background-color: #23293518;
    -webkit-box-shadow: inset 0 1px 0 rgba(47,49,54,.6);
    box-shadow: inset 0 1px 0 rgba(47,49,54,.6);
    color: var(--text-normal);
  }

/* Serverlist */
.scroller-1Bvpku {
    background-color: var(--background-secondary2); /* Add two on the end for glasscord - var(--background--alt2); */
}
.scroller-1d5FgU {
    background-color: var(--background-primary);
}
::-webkit-scrollbar {
    display: none;
}
/* spotify color */
.powercord-spotify .spotify-buttons button {
    color: var(--spotify-color) !important;
}
.container-3baos1, .container-3baos1 .avatar-SmRMf2 {
    background-color: var(--background-secondary-alt2); /* Add two on the end for glasscord - var(--background-secondary-alt2); */
}
