
/* NAIVE DEFAULT DARK */
.theme-dark {
    --naivedd-header-primary: #eb1873;
    --naivedd-header-secondary: #d1d6dd;
    --naivedd-text-normal: #dcddde;
    --naivedd-text-muted: #72767d;
    --naivedd-text-link: #eb1873;
    --naivedd-channels-default: #a0a8b1;
    --naivedd-interactive-normal: #b9bbbe;
    --naivedd-interactive-hover: #dcddde;
    --naivedd-interactive-active: #fff;
    --naivedd-interactive-muted: #444950;
    --naivedd-background-primary: #273043;
    --naivedd-background-secondary: #252c3b;
    --naivedd-background-secondary-alt: #252c3b;
    --naivedd-background-tertiary: #273043;
    --naivedd-background-accent: #b92b69;
    --naivedd-background-floating: #18191c;
    --naivedd-background-chatbox: #49334ecc;
    --naivedd-background-mentioned: #a838691e;
    --naivedd-background-mentioned-hover: #a838692d;
    --naivedd-background-modifier-hover: rgba(79,84,92,0.16);
    --naivedd-background-modifier-active: rgba(79,84,92,0.24);
    --naivedd-background-modifier-selected: rgba(79,84,92,0.32);
    --naivedd-background-modifier-accent: hsla(0,0%,100%,0.06);
    --naivedd-background-message-hover: rgba(4,4,5,0.07);
    --naivedd-background-help-warning: rgba(250,166,26,0.1);
    --naivedd-background-help-info: rgba(0,176,244,0.1);
    --naivedd-scrollbar-thin-thumb: #6b3659b7;
    --naivedd-scrollbar-thin-track: transparent;
    --naivedd-scrollbar-auto-thumb: #6b3659b7;
    --naivedd-scrollbar-auto-track: #64234ead;
    --naivedd-scrollbar-auto-scrollbar-color-thumb: #202225;
    --naivedd-scrollbar-auto-scrollbar-color-track: #2f3136;
    --naivedd-elevation-stroke: 0 0 0 1px rgba(4,4,5,0.15);
    --naivedd-elevation-low: 0 1px 0 rgba(4,4,5,0.2),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05);
    --naivedd-elevation-medium: 0 4px 4px rgba(0,0,0,0.16);
    --naivedd-elevation-high: 0 8px 16px rgba(0,0,0,0.24);
    --naivedd-logo-primary: #fff;
    --naivedd-focus-primary: #b92b69;
    --naivedd-radio-group-dot-foreground: #b92b6846;
    --naivedd-guild-header-text-shadow: 0 1px 1px rgba(0,0,0,0.4);
    --naivedd-channeltextarea-background: #b92b683b;
    --naivedd-activity-card-background: #202225;
    --naivedd-textbox-markdown-syntax: #8e9297;
    --naivedd-deprecated-card-bg: rgba(32,34,37,0.6);
    --naivedd-deprecated-card-editable-bg: rgba(32,34,37,0.3);
    --naivedd-deprecated-store-bg: #36393f;
    --naivedd-deprecated-quickswitcher-input-background: #72767d;
    --naivedd-deprecated-quickswitcher-input-placeholder: hsla(0,0%,100%,0.3);
    --naivedd-deprecated-text-input-bg: rgba(0,0,0,0.1);
    --naivedd-deprecated-text-input-border: rgba(0,0,0,0.3);
    --naivedd-deprecated-text-input-border-hover: #040405;
    --naivedd-deprecated-text-input-border-disabled: #202225;
    --naivedd-deprecated-text-input-prefix: #dcddde;
}
.theme-dark {
    --naivedd-toast-background: #273043;
    --naivedd-toast-header: #7c234ae0;
    --naivedd-toast-contents: #eceff5;
    --naivedd-toast-box-shadow: rgba(204, 72, 101, 0.178);
    --naivedd-toast-border: rgba(49, 46, 47, 0.123);
}

/* IMPLEMENTS NAIVE INTO DISCORD COLORS */
/* ChatAreaForNaive Variables */
.scrollerInner-2YIMLh, .form-2fGMdU, .members-1998pB, .total-members.counts, .container-1r6BKw.themed-ANHk51 {
    background-color: var(--naivedd-background-primary);
}
.scroller-RmtA4e, .container-3baos1, .container-3baos1, .clickable-25tGDB .header-2V-4Sw {
    background-color: var(--naivedd-background-secondary);    
}

/* UpdateIcon */
.updateIconForeground-3tnNZn {
    fill: var(--naivedd-background-accent)
}
/* MentionedColour */
.mentioned-xhSam7:before {
    background-color: var(--naivedd-background-accent);
}
.mentioned-xhSam7 {
    background-color: var(--naivedd-background-mentioned);
}
/* PeopleArea */
.peopleColumn-29fq28 {
    background-color: var(--naivedd-background-primary);
}
  .nowPlayingColumn-2sl4cE {
   background-color: var(--naivedd-background-primary);
}
.section-2gLsgF {
    background-color: var(--naivedd-background-secondary);
}
/* Discover */
.scroller-1d5FgU {
    background-color: var(--naivedd-background-primary);
}
/* CreateAServer */
.theme-dark .container-1CE3eW {
    background-color: var(--naivedd-background-primary);
}
.theme-dark .footer-1NnaNd {
    background-color: var(--naivedd-background-primary);
}
.theme-dark .container-UC8Ug1 {
    background-color: var(--naivedd-background-secondary);
}
.theme-dark .lookFilled-1Gx00P.colorGrey-2DXtkV {
    color: #fff;
    background-color: var(--naivedd-background-secondary);

}
.colorHeaderSecondary-3Sp3Ft, .footerTitle-2CYZch, .text-1FOLJS {
    color: #fff;
}
.theme-dark .footer-2gL1pp {
    background-color: var(--naivedd-background-secondary);
    box-shadow:none;
}
.contents-18-Yxp {
    color: #fff;
}
.lookFilled-1Gx00P.colorBrand-3pXr91 {
    color: #fff;
    background-color: var(--naivedd-background-secondary);
}
/* ServerList */
.platform-win .scroller-1Bvpku {
    background-color: var(--naivedd-background-secondary);
}
.platform-win .scroller-1Bvpku {
	top: 10px;
}
.childWrapper-anI2G9 {
    background-color: var(--naivedd-background-accent);
    color: var(---naivedd-text-normal);
}
.circleIconButton-1QV--U {
    color: #f8fdfb;
    background-color: var(--naivedd-background-accent);
}




/* --- */





/* NAIVE DEFUALT LIGHT */
.theme-light {
    --naivedl-naivedl-header-primary: #e42779;
    --naivedl-header-secondary: #1a1a1b;
    --naivedl-text-normal: #1d1a1b;
    --naivedl-text-muted: #a81253;
    --naivedl-text-link: #eb1873;
    --naivedl-channels-default: #e61f75;
    --naivedl-interactive-normal: #ce1062;
    --naivedl-interactive-hover: #e62a68;
    --naivedl-interactive-active: #fff;
    --naivedl-interactive-muted: #d86591;
    --naivedl-background-primary: #c5a8b8;
    --naivedl-background-secondary: #caa3b8;
    --naivedl-background-secondary-alt: #caa3b8;
    --naivedl-background-tertiary: #caa3b8;
    --naivedl-background-accent: #b92b69;
    --naivedl-background-floating: #cf9fbaee;
    --naivedl-background-chatbox: #b92b681c;
    --naivedl-background-mentioned: #83154538;
    --naivedl-background-mentioned-hover: #a838692d;
    --naivedl-background-modifier-hover: rgba(79,84,92,0.16);
    --naivedl-background-modifier-active: rgba(42, 118, 241, 0.24);
    --naivedl-background-modifier-selected: rgba(79,84,92,0.32);
    --naivedl-background-modifier-accent: hsla(0,0%,100%,0.06);
    --naivedl-background-message-hover: rgba(4,4,5,0.07);
    --naivedl-background-help-warning: rgba(250,166,26,0.1);
    --naivedl-background-help-info: rgba(0,176,244,0.1);
    --naivedl-scrollbar-thin-thumb: #ce99bc75;
    --naivedl-scrollbar-thin-track: transparent;
    --naivedl-scrollbar-auto-thumb: #854d7259;
    --naivedl-scrollbar-auto-track: #c28eb1a2;
    --naivedl-scrollbar-auto-scrollbar-color-thumb: #202225;
    --naivedl-scrollbar-auto-scrollbar-color-track: #2f3136;
    --naivedl-elevation-stroke: 0 0 0 1px rgba(4,4,5,0.15);
    --naivedl-elevation-low: 0 1px 0 rgba(4,4,5,0.2),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05);
    --naivedl-elevation-medium: 0 4px 4px rgba(0,0,0,0.16);
    --naivedl-elevation-high: 0 8px 16px rgba(0,0,0,0.24);
    --naivedl-logo-primary: #fff;
    --naivedl-focus-primary: #b92b69;
    --naivedl-radio-group-dot-foreground: #b92b6846;
    --naivedl-guild-header-text-shadow: 0 1px 1px rgba(0,0,0,0.4);
    --naivedl-channeltextarea-background: #b92b683b;
    --naivedl-activity-card-background: #202225;
    --naivedl-textbox-markdown-syntax: #8e9297;
    --naivedl-deprecated-card-bg: rgba(32,34,37,0.6);
    --naivedl-deprecated-card-editable-bg: rgba(32,34,37,0.3);
    --naivedl-deprecated-store-bg: #36393f;
    --naivedl-deprecated-quickswitcher-input-background: #72767d;
    --naivedl-deprecated-quickswitcher-input-placeholder: hsla(0,0%,100%,0.3);
    --naivedl-deprecated-text-input-bg: rgba(0,0,0,0.1);
    --naivedl-deprecated-text-input-border: rgba(0,0,0,0.3);
    --naivedl-deprecated-text-input-border-hover: #040405;
    --naivedl-deprecated-text-input-border-disabled: #202225;
    --naivedl-deprecated-text-input-prefix: #dcddde;
}
.theme-light {
    --naivedl-toast-background: #fff;
    --naivedl-toast-header: #e3e5e8;
    --naivedl-toast-contents: #e5e8f0;
    --naivedl-toast-box-shadow: rgba(0, 0, 0, .1);
    --naivedl-toast-border: rgba(28, 36, 43, .06);
}

/* UpdateIcon */
.updateIconForeground-3tnNZn {
    fill: var(--naivedl-background-accent)
}
/* MentionedColour */
.mentioned-xhSam7:before {
    background-color: var(--naivedl-background-accent);
}
.mentioned-xhSam7 {
    background-color: var(--naivedl-background-mentioned);
}
/* PeopleArea */
.peopleColumn-29fq28 {
    background-color: var(--naivedl-background-primary);
}
  .nowPlayingColumn-2sl4cE {
   background-color: var(--naivedl-background-primary);
}
.section-2gLsgF {
    background-color: var(--naivedl-background-secondary);
}
/* Discover */
.scroller-1d5FgU {
    background-color: var(--naivedl-background-primary);
}
/* CreateAServer */
.theme-dark .container-1CE3eW {
    background-color: var(--naivedl-background-primary);
}
.theme-dark .footer-1NnaNd {
    background-color: var(--naivedl-background-primary);
}
.theme-dark .container-UC8Ug1 {
    background-color: var(--naivedl-background-secondary);
}
.theme-dark .lookFilled-1Gx00P.colorGrey-2DXtkV {
    color: #fff;
    background-color: var(--naivedl-background-secondary);

}
.colorHeaderSecondary-3Sp3Ft, .footerTitle-2CYZch, .text-1FOLJS {
    color: #fff;
}
.theme-dark .footer-2gL1pp {
    background-color: var(--naivedl-background-secondary);
    box-shadow:none;
}
.contents-18-Yxp {
    color: #fff;
}
.lookFilled-1Gx00P.colorBrand-3pXr91 {
    color: #fff;
    background-color: var(--naivedl-background-secondary);
}
/* ServerList */
.platform-win .scroller-1Bvpku {
    background-color: var(--naivedl-background-secondary);
}
.platform-win .scroller-1Bvpku {
	top: 10px;
}
.childWrapper-anI2G9 {
    background-color: var(--naivedd-background-accent);
    color: var(---naivedl-text-normal);
}
.circleIconButton-1QV--U {
    color: #f8fdfb;
    background-color: var(--naivedl-background-accent);
}





/* --- */




