/* NAIVE - BUZZY / YELLOW */
.theme-dark { 
	--alt-color: 255, 177, 15;
    --header-primary: #FFB30F;
    --header-secondary: #8E949C;
    --text-normal: #F4F7F5;
    --text-muted: rgb(73, 78, 87);
    --text-link: #FFB30F;
    --channels-default: #8e9297;
    --interactive-normal: #b9bbbe;
    --interactive-hover: #dcddde;
    --interactive-active: #ebe9ea;
    --interactive-muted: rgb(73, 78, 87);
    --background-primary: #232935;
    --background-secondary: #2A303C;
    --background-secondary-alt: #2A303C;
    --background-tertiary: #1a1f27;
    --background-accent: #FFB30F;
    --background-floating: #232934;
    --background-modifier-hover: #ffb30f31;
    --background-modifier-active: #ffb30f52;
    --background-modifier-selected: #ffb30f3b;
    --background-modifier-accent: hsla(0,0%,100%,0.06);
    --background-mentioned: #ffb30f18;
    --background-mentioned-hover: #ffb30f0c;
    --background-message-hover: #ffb30f10;
    --background-help-warning: #ffcb5c28;
    --background-help-info: #ffcb5c28;
    --scrollbar-thin-thumb: #ffcb5c28;
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-thumb: #ffcb5c28;
    --scrollbar-auto-track: #ffcb5c15;
    --scrollbar-auto-scrollbar-color-thumb: #9c203f9a;
    --scrollbar-auto-scrollbar-color-track: #94143477;
    --elevation-stroke: 0 0 0 1px rgba(26, 22, 22, 0.329);
    --elevation-low: 0 1px 0 rgba(26, 22, 22, 0.329);
    --elevation-medium: 0 4px 4px rgba(26, 22, 22, 0.329);
    --elevation-high: 0 8px 16px rgba(26, 22, 22, 0.329);
    --logo-primary: #fff;
    --focus-primary: #ffb30faf;
    --radio-group-dot-foreground: #ffb30fbb;
    --guild-header-text-shadow: 0 1px 1px rgba(0,0,0,0.4);
    --channeltextarea-background: #e09b1c27;
	--toast-header: #20242b;
    --spotify-color: #FFB30F;
}